h1 {
    color: green;
    
}
.carousel-global {
    margin: 0;
    width: 400px;
    height: 300px;
    overflow: hidden;
    padding: 0;
}

#carousel {
        @extend .carousel-global;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 0 auto;
    ul {
        @extend .carousel-global;
        width:2000px;
        display: block;
    }
    li {
        @extend .carousel-global;
        list-style: none;
        float: left;
        display: inline;
    }
}

#directions {
    text-align: center;
    color: green;
}

.left-button,
.right-button {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}


 